/* src/App.css */
.clock-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.clock {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: 5px solid #333;
}

.number {
	position: absolute;
	top: 5px;
	left: 50%;
	font-size: 16px;
	color: #333;
	transform: translate(-50%, 0);
}

.hour-hand,
.minute-hand,
.second-hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform-origin: bottom;
}

.hour-hand {
	width: 6px;
	height: 50px;
	background-color: #333;
	transform: translate(-3px, 0);
}

.minute-hand {
	width: 4px;
	height: 70px;
	background-color: #555;
	transform: translate(-2px, 0);
}

.second-hand {
	width: 2px;
	height: 90px;
	background-color: red;
	transform: translate(-1px, 0);
}
